
body{
	padding:0;
	margin:0;
}

.fit-screen{
	position:relative;
	height:100vh;
	width:100%;
	/* background-color:green; */
}

.top-half{
	position:relative;
	background-color:#0080ff;
	height: 60%;
	
	box-shadow: 0px 3px 25px grey; 
}

.bottom-half{
	height: 40%;
	position:relative;
	background-color:white;
}

.content{
	background-color:white;
	position:absolute;
	
	padding: 0px;
	
	width: 750px;
    height: 445px;
	
	font-family: 'Yantramanav', sans-serif;
	/* font-weight: 400; */
	
	/* border: 1px solid black; */
	
	top:50%;
	left:50%;
	
	transform:translate(-50%, -50%);
	
	display:flex;
	
}

.profile-pic{
	position:relative;
	top:0;
	left:0;
	height:100%;
	margin:0;
	padding:0;
}


.inner-content{
	position:relative;
	flex:1;
	
	/* background-color:white; */
	display:inline-block;
	height:100%;
	
	margin:0;
	padding: 0px 20px 0px 20px;
}

.bar{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	
	background-color:#0080ff;
	margin:0;
	padding:7px 0px 7px 0px;
	
	display:flex;
}

.link{
	font-size:30px;
}

.nav-link{
	flex:1;
	text-align:center;
	text-decoration:none;
	color:black;
}

.nav-link:hover{
	color:white;
}


@media only screen and (max-width: 850px) {

	.content{
		width: 750px;
		height: 445px;
	}
	
}















